* {
	margin: 0;
	padding: 0;
	font-family: "Whitney Light", sans-serif;
}

body {
	background-color: #36393f;
}

.screen-size-error-container,
.screen-size-error {
	display: none;
}

.link {
	color: #00b0f4;
	cursor: pointer;
	font-family: "Whitney";
}

.link:hover {
	text-decoration: underline;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.message {
	width: fit-content;
	height: fit-content;
}

.name-box {
	display: flex;
}

.profile-picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.name {
	color: #ffffff;
	font-weight: normal;
	margin-top: 1px;
	margin-left: 1rem;
	font-size: 1.1rem;
	font-family: "Whitney";
}

.bot-tag {
	position: relative;
	background-color: #7289da;
	height: min-content;
	padding: 0.17rem;
	border-radius: 4px;
	font-size: 0.7rem;
	color: white;
	top: 4px;
	left: 4px;
}

.date {
	color: hsla(0, 0%, 100%, 0.6);
	font-size: 0.8rem;
	margin-top: 6px;
	margin-left: 13px;
	font-weight: 500;
	font-family: "Whitney";
}

.content-box {
	position: relative;
	top: -25px;
	left: 66.5px;
}

.content {
	color: #dcddde;
}

.embed-box {
	background-color: #2f3136;
	margin-top: 10px;
	min-width: 500px;
	height: 627px;
	border-left: 5px solid #46d0e6;
	border-radius: 4px;
}

.author {
	position: absolute;
	margin-top: 10px;
	margin-left: 6px;
	color: #ffffff;
}

.author-picture {
	width: 26px;
	height: 26px;
	border-radius: 50%;
}

.author-name {
	color: #ffffff;
	font-weight: normal;
	top: -26px;
	left: 35px;
	font-size: 1rem;
	position: relative;
	width: min-content;
	margin-right: 0;
}

.thumbnail-picture {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	position: absolute;
	left: 390px;
	top: 40px;
}

.title {
	position: relative;
	font-weight: lighter;
	top: 40px;
	left: 10px;
}

.description {
	position: relative;
	top: 45px;
	left: 10px;
	color: hsla(0, 0%, 100%, 0.6);
	font-size: 14px;
	font-weight: 500;
	max-width: 360px;
}

.code {
	font-style: normal;
	background-color: #2e3136;
	border: solid 2px #202225;
	padding: 10px;
	border-radius: 5px;
	top: 55px;
	position: relative;
	width: 360px;
	color: #dcddde;
	font-size: 14px;
	left: 10px;
	font-family: Consolas, monaco, monospace;
}

.fields {
	position: relative;
	top: 65px;
	display: block;
}

.field {
	left: 10px;
	position: relative;
	width: 360px;
	margin-bottom: 15px;
}

.field.inline {
	width: 200px;
}

.inline-box {
	display: flex;
}

.field-title {
	color: #ffffff;
	font-size: 1rem;
	position: relative;
	font-family: "Whitney";
}

.field-content {
	color: hsla(0, 0%, 100%, 0.6);
	font-size: 14px;
	font-weight: 500;
}

.image-picture {
	position: relative;
	top: 60px;
	left: 10px;
	border-radius: 7px;
}

.footer {
	width: 360px;
	position: relative;
	top: 67px;
	left: 10px;
	height: 34px;
	display: block;
}

.footer-picture {
	border-radius: 3px;
	width: 25px;
}

.footer-text {
	position: relative;
	width: 323px;
	left: 30px;
	top: -24px;
	font-size: 14px;
	color: hsla(0, 0%, 100%, 0.6);
}

@media only screen and (max-width: 700px) {
	.message {
		display: none;
	}

	.screen-size-error-container {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
	}

	.screen-size-error {
		background-color: #36393f;
		width: 50vw;
		height: 50vh;
		display: block;
		box-shadow: #000000 0px 0px 30px 3px;
		border-radius: 5px;
		text-align: center;
		color: #ffffff;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 320px;
	}

	.screen-size-error h1 {
		margin-top: 20px;
		font-size: 4rem;
	}

	.screen-size-error .explanation {
		margin-top: 40px;
		width: 45vw;
		margin: 20px auto;
		font-size: 1.3rem;
	}

	.screen-size-error .come-back-later {
		margin-bottom: 80px;
		font-size: 1.3rem;
		width: 45vw;
		margin: 20px auto;
	}
}

@font-face {
	font-family: "Whitney";
	src: url("./whitneymedium.woff") format("woff");
}

@font-face {
	font-family: "Whitney Light";
	src: url("./whitney-light.tff") format("tff");
}

@font-face {
	font-family: "Consola";
	src: url("./consola.tff") format("tff");
}
